In [1]:
import numpy as np
import pandas as pd

In [2]:
def create_submission(model,x_train,y_train,x_test,**kwargs):
    model.fit(dropstrings(x_train),y_train,**kwargs)
    preds = pd.DataFrame(model.predict(x_test))

In [4]:
test0 = pd.read_csv('../../original_data/test.csv.gz')
train2 = pd.read_csv('../../gen_data/train2.csv')

In [5]:
train2.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,sales
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray,3
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD,1
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD,1
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3,2

In [7]:
test0.shape

(214200, 3)

In [8]:
preds = np.zeros(214200)
test0['item_cnt_month'] = preds

In [9]:
test0

            ID  shop_id  item_id  item_cnt_month
0            0        5     5037             0.0
1            1        5     5320             0.0
2            2        5     5233             0.0
3            3        5     5232             0.0
4            4        5     5268             0.0
5            5        5     5039             0.0
6            6        5     5041             0.0
7            7        5     5046             0.0
8            8        5     5319             0.0
9            9        5     5003             0.0
10          10        5     4806             0.0
11          11        5     4843             0.0
12          12        5     4607             0.0
13          13        5     4869             0.0
14          14        5     4870             0.0
15          15        5     4872             0.0
16          16        5     4874             0.0
17          17        5     4678             0.0
18          18        5     4892             0.0
19          19        5     4964             0.0
20          20        5     4717             0.0
21          21        5     5002             0.0
22          22        5     5823             0.0
23          23        5     5814             0.0
24          24        5     5900             0.0
25          25        5     5907             0.0
26          26        5     5908             0.0
27          27        5     5643             0.0
28          28        5     5657             0.0
29          29        5     5675             0.0
...        ...      ...      ...             ...
214170  214170       45    14543             0.0
214171  214171       45    19253             0.0
214172  214172       45    17957             0.0
214173  214173       45    12470             0.0
214174  214174       45     7543             0.0
214175  214175       45     6661             0.0
214176  214176       45    11137             0.0
214177  214177       45    11489             0.0
214178  214178       45     9782             0.0
214179  214179       45     2972             0.0
214180  214180       45    19889             0.0
214181  214181       45    20650             0.0
214182  214182       45     5665             0.0
214183  214183       45     9978             0.0
214184  214184       45    10767             0.0
214185  214185       45    14443             0.0
214186  214186       45    14341             0.0
214187  214187       45     5401             0.0
214188  214188       45     9500             0.0
214189  214189       45    16007             0.0
214190  214190       45     3280             0.0
214191  214191       45     4393             0.0
214192  214192       45     4352             0.0
214193  214193       45    18049             0.0
214194  214194       45    18027             0.0
214195  214195       45    18454             0.0
214196  214196       45    16188             0.0
214197  214197       45    15757             0.0
214198  214198       45    19648             0.0
214199  214199       45      969             0.0

[214200 rows x 4 columns]