# Build a DF relating item category name and shop name to shop ids and item ids

### Load packages

In [1]:
import pandas as pd
import pickle
import numpy as np
import re
import gc
from sklearn import preprocessing

### Read in Data

In [2]:
df = pd.read_csv('../gen_data/train2.csv')

y_train_list = pickle.load(open('../gen_data/y_train--features1.ipynb--.pickle','rb'))
x_train_list = pickle.load(open('../gen_data/x_train--features3.ipynb--.pickle','rb'))
x_test_list = pickle.load(open('../gen_data/x_test--features3.ipynb--.pickle','rb'))

### Parse City data

In [3]:
cities_encoder = preprocessing.LabelEncoder()
cities_series = pd.Series([re.search('(.*?) ',n).group() for n in df.shop_name],index=df.index)
cities_encoder.fit(cities_series)
df['city'] = cities_encoder.transform(cities_series)
del cities_series

### Parse item category data

In [4]:
item_type_encoder = preprocessing.LabelEncoder()
item_type_series = df.item_category_name.map(lambda x: re.split('-',x)[0])
item_type_encoder.fit(item_type_series)
df['item_type'] = item_type_encoder.transform(item_type_series)
del item_type_series

### parse more item_category data

In [5]:
item_info_encoder = preprocessing.LabelEncoder()
item_info_series = df.item_category_name.map(lambda x: '-'.join(re.split('-',x)[1:]) if len(re.split('-',x))>1 else 'NAN')
item_info_encoder.fit(item_info_series)
df['item_info'] = item_info_encoder.transform(item_info_series)
del item_info_series

### Select relevant columns in df

In [6]:
df = df[['shop_id','item_id','item_category_id','city','item_type','item_info']].drop_duplicates()

### function to downcast data types to 32 bits

In [7]:
def downcast(df):
    float_cols = [col for col in df if df[col].dtype=='float64']
    int_cols = [col for col in df if df[col].dtype=='int64']

    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int32)
    
    return(df)

### cleanup

In [8]:
df = downcast(df)
gc.collect()

7

### Merge data above into training and test sets

In [9]:
x_train_list = list(map(lambda x: x.merge(df,on=['item_id','item_category_id','shop_id'],how='left'),x_train_list))
x_test_list = list(map(lambda x: x.merge(df,on=['item_id','item_category_id','shop_id'],how='left'),x_test_list))

# Target Encoding

Target encoding is based on historical information, available for both train and test datasets, as such, we needn't worry about regularisation specifically for target encodings.

# SHOULDNT BE USING Y_TRAIN_LIST[0]

In [92]:
x_train_list = [target_encode(x_train,y_train,['shop_id','item_id','item_category_id','month','city','item_type','item_info'],fillna=0) for x_train , y_train in zip(x_train_list,y_train_list)]
x_test_list = [target_encode(x_test,y_test,['shop_id','item_id','item_category_id','month','city','item_type','item_info'],fillna=0) for x_test , y_test in zip(x_test_list,y_test_list)]

Encoding variable: shop_id
Encoding variable: item_id
Encoding variable: item_category_id
Encoding variable: month
Encoding variable: city
Encoding variable: item_type
Encoding variable: item_info
Encoding variable: shop_id
Encoding variable: item_id
Encoding variable: item_category_id
Encoding variable: month
Encoding variable: city
Encoding variable: item_type
Encoding variable: item_info

In [12]:
# need to add bool: item never sold before
                    #shop never sold before
# and int: num item sold
# num shop sold
# FOR EACH MONTH

#this is target encoding filling nans with 0 except missing early data

#doing this early in pipeline would be easy

#going back for all time might be a bad idea, the nature of the data would change thru time, (summingup)
#instaed just use dateback range

In [13]:
[print(n) for n in x_train_list[0].columns]

date_block_num
shop_id
item_id
item_category_id
sum_item_sales_back_1
sum_shop_sales_back_1
item_cnt_month_back_1
sum_item_cat_sales_back_1
sum_item_cat_shop_sales_back_1
sum_item_sales_back_2
sum_shop_sales_back_2
item_cnt_month_back_2
sum_item_cat_sales_back_2
sum_item_cat_shop_sales_back_2
sum_item_sales_back_3
sum_shop_sales_back_3
item_cnt_month_back_3
sum_item_cat_sales_back_3
sum_item_cat_shop_sales_back_3
sum_item_sales_back_4
sum_shop_sales_back_4
item_cnt_month_back_4
sum_item_cat_sales_back_4
sum_item_cat_shop_sales_back_4
sum_item_sales_back_5
sum_shop_sales_back_5
item_cnt_month_back_5
sum_item_cat_sales_back_5
sum_item_cat_shop_sales_back_5
sum_item_sales_back_6
sum_shop_sales_back_6
item_cnt_month_back_6
sum_item_cat_sales_back_6
sum_item_cat_shop_sales_back_6
sum_item_sales_back_7
sum_shop_sales_back_7
item_cnt_month_back_7
sum_item_cat_sales_back_7
sum_item_cat_shop_sales_back_7
sum_item_sales_back_8
sum_shop_sales_back_8
item_cnt_month_back_8
sum_item_cat_sales_back_8
sum_item_cat_shop_sales_back_8
sum_item_sales_back_9
sum_shop_sales_back_9
item_cnt_month_back_9
sum_item_cat_sales_back_9
sum_item_cat_shop_sales_back_9
sum_item_sales_back_10
sum_shop_sales_back_10
item_cnt_month_back_10
sum_item_cat_sales_back_10
sum_item_cat_shop_sales_back_10
sum_item_sales_back_11
sum_shop_sales_back_11
item_cnt_month_back_11
sum_item_cat_sales_back_11
sum_item_cat_shop_sales_back_11
sum_item_sales_back_12
sum_shop_sales_back_12
item_cnt_month_back_12
sum_item_cat_sales_back_12
sum_item_cat_shop_sales_back_12
month
numdays
mean_prevmonth_item_price
sd_prevmonth_item_price
mean_prevmonth_shop_item_price
sd_above_market
city
item_type
item_info
shop_id_encoded
item_id_encoded
item_category_id_encoded
month_encoded
city_encoded
item_type_encoded
item_info_encoded

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [14]:
dfout = x_train_list[0]

In [15]:
df_items = dfout.filter(regex='sum_item_sales_back_\d+$')
df_items.sum(axis=1)
dfout.shape

(6186922, 80)

In [16]:
#create variables to quantify how much we know about a data point
#For each shop_id and item_id create sum of recent history(total sales for dateback_range)
#create bool if 0 indicating new shop or item
def generate_recent_history_summary(df):
    df_items = df.filter(regex='sum_item_sales_back_\d+$')
    df['historical_item_sales'] = df_items.sum(axis=1)
    df['new_item'] = (df.historical_item_sales<0.5)*1
    
    df_shops = df.filter(regex='sum_shop_sales_back_\d+$')
    df['historical_shop_sales'] = df_shops.sum(axis=1)
    df['new_shop'] = (df.historical_shop_sales<0.5)*1
    
    df_item_cats = df.filter(regex='sum_item_cat_sales_back_\d+$')
    df['historical_item_cat_sales'] = df_item_cats.sum(axis=1)
    df['new_item_cat'] = (df.historical_item_cat_sales<0.5)*1
    return df

In [17]:
x_train_list = list(map(generate_recent_history_summary,x_train_list))
x_test_list = list(map(generate_recent_history_summary,x_test_list))

In [18]:
x_train_list[0][['item_id','historical_item_sales']]

         item_id  historical_item_sales
0             32                    0.0
1             33                  118.0
2             99                    0.0
3            482                 1097.0
4            485                  818.0
5            804                  144.0
6            839                  307.0
7           1007                  463.0
8           1406                   16.0
9           1407                  726.0
10          1412                   71.0
11          1413                   35.0
12          1414                   44.0
13          1415                    0.0
14          1416                  144.0
15          1439                    0.0
16          1441                  140.0
17          1449                  116.0
18          1460                  329.0
19          1467                  294.0
20          1471                  428.0
21          1480                    0.0
22          1495                 1425.0
23          1502                  699.0
24          1511                 1446.0
25          1512                 1532.0
26          1514                  324.0
27          1799                   63.0
28          1809                 1346.0
29          1811                  785.0
...          ...                    ...
6186892    14430                    0.0
6186893    15971                    0.0
6186894    16055                  724.0
6186895    16084                    0.0
6186896    16179                   11.0
6186897    16243                    0.0
6186898    16540                    0.0
6186899    18715                   11.0
6186900    19501                    0.0
6186901    19745                    0.0
6186902    19789                   16.0
6186903    19885                    0.0
6186904    20070                    0.0
6186905     6400                   92.0
6186906     9150                    0.0
6186907     9496                   13.0
6186908     9949                    0.0
6186909    13379                    0.0
6186910    13521                  157.0
6186911    15443                    0.0
6186912    16729                    0.0
6186913    18024                    0.0
6186914    20267                    0.0
6186915     4608                    0.0
6186916     4779                   14.0
6186917    10656                    0.0
6186918    14899                    0.0
6186919    18577                    3.0
6186920    21459                    0.0
6186921    22043                    0.0

[6186922 rows x 2 columns]

### Save

In [19]:
pickle.dump(x_train_list,open('../gen_data/x_train--strings.ipynb--.pickle','wb'))
pickle.dump(x_test_list,open('../gen_data/x_test--strings.ipynb--.pickle','wb'))

In [95]:
df = x_train_list[0][['date_block_num','item_id','item_id_encoded','historical_item_sales']].copy()
df.columns = ['date_block_num','item_id','ORIGINAL_item_id_encoded','historical_item_sales']
df.head()

   date_block_num  item_id  ORIGINAL_item_id_encoded  historical_item_sales
0              12       32                     697.0                    0.0
1              12       33                     402.0                  118.0
2              12       99                      71.0                    0.0
3              12      482                    1425.0                 1097.0
4              12      485                    1027.0                  818.0

In [109]:
#work on this
#this isnt working properly, drop it, I have almost the same information from elsewhere
def target_encode(df,target,cols,fillna=0):
    maxmonth = df.date_block_num.max()
    print(maxmonth)
    df['target'] = target
    for col in cols:
        print('Encoding variable: '+col)
        #dont use current data, that way we can do this for both train and test sets
        agged_targ = df[df.date_block_num<maxmonth].groupby(col).target.sum()
        agged_targ = df[(df.date_block_num<maxmonth) & (df.date_block_num>=(maxmonth-12))].groupby(col).target.sum()
        #agged_targ = df[df.date_block_num>20].groupby(col).target.sum()
        
        
        
        df[col+'_encoded'] = df[col].map(agged_targ)
        if fillna=='mean':
            df[col].fillna(df(col).mean(),inplace=True)
        elif fillna=='median':
            df[col].fillna(df(col).median(),inplace=True)
        else:
            df[col].fillna(0,inplace=True)
    return df.drop('target',axis=1)

### Im counting back the months from max month, but historical is rolling for each date, historical is bad becuase it double counts, or does it?

In [115]:
targs = y_train_list[0]
target_encode(df,targs,['item_id'])
g = df[(df.date_block_num<32) & (df.date_block_num>=20)].groupby('item_id').target.sum()
df['item_id_encoded_manual'] = df.item_id.map(g)
df.head()

32
Encoding variable: item_id

,date_block_num,item_id,ORIGINAL_item_id_encoded,historical_item_sales,target,item_id_encoded,item_id_encoded_manual
0,12,32,697.0,0.0,1.0,374.0,374.0
1,12,33,402.0,118.0,1.0,198.0,198.0
2,12,99,71.0,0.0,1.0,4.0,4.0
3,12,482,1425.0,1097.0,2.0,735.0,735.0
4,12,485,1027.0,818.0,1.0,65.0,65.0

In [ ]:
21 ... 31

In [45]:
df = x_train_list[1]
targs = y_train_list[1]
df['target'] = targs
df_small = df[['item_id','item_id_encoded','target','historical_item_sales']]

In [46]:
g = df.groupby('item_id').target.sum()
g.head(40)

item_id
0       1.0
1       6.0
2       2.0
3       2.0
4       1.0
5       1.0
6       1.0
7       1.0
8       2.0
9       1.0
10      1.0
11      1.0
13      1.0
14      1.0
15      1.0
16      1.0
17      1.0
18      1.0
20      1.0
21      1.0
22      1.0
23      1.0
24      1.0
25      1.0
26      1.0
27      6.0
28      1.0
29      1.0
30    301.0
31    342.0
32    719.0
33    418.0
34     13.0
35      2.0
36     25.0
37     26.0
38     67.0
39      3.0
40     35.0
41      1.0
Name: target, dtype: float32

In [47]:
df_small['item_id_encoded_manual'] = df.item_id.map(g)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df_small.head()

,item_id,item_id_encoded,target,historical_item_sales,item_id_encoded_manual
0,32,697.0,1.0,0.0,719.0
1,33,402.0,1.0,118.0,418.0
2,99,71.0,1.0,0.0,71.0
3,482,1425.0,2.0,1097.0,1471.0
4,485,1027.0,1.0,818.0,1027.0

In [30]:
df_small.head(15)

    item_id  item_id_encoded  target
0        32            697.0     1.0
1        33            402.0     1.0
2        99             71.0     1.0
3       482           1425.0     2.0
4       485           1027.0     1.0
5       804             27.0     1.0
6       839            602.0     1.0
7      1007            507.0     1.0
8      1406            979.0     1.0
9      1407            229.0     0.0
10     1412             95.0     1.0
11     1413            113.0     2.0
12     1414             90.0     1.0
13     1415             66.0     1.0
14     1416             69.0     2.0

In [36]:
df[(df.item_id==32)].target.sum()

719.0

In [28]:
#df[['item_id','item_idencoded']].sort_values('item_id').head(1000)

In [51]:
df100 = df.sample(100)
df100

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,item_type_encoded,item_info_encoded,historical_item_sales,new_item,historical_shop_sales,new_shop,historical_item_cat_sales,new_item_cat,target,item_id_encoded_manual
6192161,33,2,11275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,7.0
3934805,23,59,3902,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,NaN,NaN,21.0,0,2156.0,0,20520.0,0,0.0,152.0
2080469,18,16,7821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,73.0
1587007,16,46,17882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,239.0
1692345,17,4,2446,0.0,0.0,0.0,0.0,0.0,0.0,59.0,...,NaN,NaN,644.0,0,8263.0,0,54742.0,0,0.0,653.0
519371,13,31,2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,10.0,0,9042.0,0,11539.0,0,0.0,27.0
984101,14,55,19154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,42.0
2578428,19,47,9065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,352.0
2965790,21,2,16316,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,454.0
4767187,26,52,7794,29.0,0.0,0.0,0.0,0.0,0.0,0.0,...,307099.0,9100.0,716.0,0,8358.0,0,3626.0,0,0.0,830.0
258065,12,47,1303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,264.0
4120774,24,39,20455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,18.0
5073407,28,3,1847,19.0,42.0,679.0,1.0,2779.0,40.0,0.0,...,355597.0,126734.0,42.0,0,679.0,0,2779.0,0,1.0,690.0
3096891,21,27,3236,19.0,0.0,0.0,0.0,0.0,0.0,0.0,...,355597.0,126734.0,0.0,1,0.0,1,0.0,1,2.0,487.0
2421390,19,18,7266,0.0,0.0,0.0,0.0,0.0,0.0,41.0,...,NaN,NaN,83.0,0,2609.0,0,20483.0,0,0.0,157.0
4802182,26,58,9201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,47.0
4294886,25,12,13711,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,NaN,NaN,37.0,0,3905.0,0,4434.0,0,0.0,42.0
5946738,31,55,14041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,174.0
5215257,28,41,13552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,34.0
3037170,21,16,1663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,29.0
1580634,16,45,16108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,36.0,0,2908.0,0,4629.0,0,0.0,253.0
2804747,20,31,14130,0.0,1.0,7204.0,1.0,5986.0,538.0,0.0,...,NaN,NaN,3.0,0,14668.0,0,13692.0,0,0.0,36.0
3360827,22,16,8744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,27.0
2521316,19,38,18260,55.0,0.0,0.0,0.0,0.0,0.0,0.0,...,218287.0,187692.0,18.0,0,1809.0,0,14133.0,0,2.0,315.0
5617011,30,26,18685,55.0,0.0,0.0,0.0,0.0,0.0,0.0,...,218287.0,187692.0,16.0,0,1289.0,0,7156.0,0,2.0,316.0
5490810,29,52,976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,34.0
4222636,24,56,15044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,481.0,0,14137.0,0,72972.0,0,0.0,736.0
383215,13,7,5663,3.0,330.0,2217.0,5.0,1174.0,20.0,653.0,...,50040.0,123367.0,983.0,0,5549.0,0,3742.0,0,5.0,2280.0
1386946,16,7,15568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,55.0,0,7518.0,0,39104.0,0,0.0,77.0
6012986,32,14,16454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,423.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858706,14,35,19464,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,NaN,NaN,37.0,0,5634.0,0,3252.0,0,0.0,147.0
892668,14,41,14300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,83.0
2050937,18,10,1149,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,6.0
5553284,30,7,11188,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,446281.0,289315.0,0.0,1,0.0,1,0.0,1,2.0,161.0
5225099,28,44,18069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,15.0,0,1031.0,0,562.0,0,0.0,104.0
2834283,20,38,16906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,2.0,0,1507.0,0,18061.0,0,0.0,19.0
4024872,24,19,3139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,35.0
829397,14,28,18145,0.0,11.0,4897.0,1.0,1238.0,72.0,6.0,...,NaN,NaN,17.0,0,11031.0,0,2650.0,0,0.0,23.0
2044151,18,7,12092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,13.0
3517919,22,45,12379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,30.0
652327,13,56,9967,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,7.0,0,6011.0,0,16094.0,0,0.0,26.0
4078237,24,30,9069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,58.0
165340,12,28,12916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,2.0,0,4596.0,0,6921.0,0,0.0,26.0
1793346,17,24,16501,0.0,12.0,1541.0,1.0,14765.0,208.0,0.0,...,NaN,NaN,1108.0,0,13961.0,0,129427.0,0,0.0,181.0
4788397,26,56,14117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,24.0,0,5082.0,0,2449.0,0,0.0,167.0
6133171,32,48,21901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,83.0
6309741,33,34,13472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,1.0
893166,14,41,8315,37.0,3.0,1528.0,1.0,6026.0,122.0,0.0,...,446281.0,112252.0,206.0,0,5311.0,0,19471.0,0,1.0,87.0
2062493,18,13,20287,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,16.0,0,926.0,0,14133.0,0,0.0,27.0
3853829,23,47,4052,20.0,55.0,2217.0,2.0,8323.0,237.0,53.0,...,355597.0,123367.0,108.0,0,4036.0,0,13810.0,0,1.0,492.0
1345977,15,59,556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,21.0
2153545,18,29,12598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,24.0
3467213,22,37,8252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,3.0,0,1036.0,0,383.0,0,0.0,26.0
2435086,19,21,10296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,116.0
5055128,27,57,11341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,1,0.0,1,0.0,1,0.0,52.0
1009826,14,58,20222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,27.0,0,8618.0,0,24161.0,0,0.0,9.0
1911913,17,46,7882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,61.0,0,6075.0,0,2289.0,0,0.0,41.0
1330769,15,57,4610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,115.0,0,25196.0,0,61702.0,0,0.0,454.0
4572252,26,10,17253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,13.0,0,1211.0,0,29074.0,0,0.0,170.0
4631903,26,25,10099,38.0,13.0,5381.0,1.0,1233.0,68.0,14.0,...,446281.0,27247.0,33.0,0,16570.0,0,4358.0,0,1.0,117.0