In [2]:
import numpy as np
import pandas as pd
import pickle

In [3]:
x_train_list , x_test_list , y_train_list , y_test_list = pickle.load(open('../saved_datasets/3-11-19.stitch.aggregate.clip.simple_validation_split.enrich1.features1.features2.features3.features4.data_output_1.dateback=12.targ_enc_perm=8/xtrain_xtest_ytrain_ytest.pickle','rb'))

In [7]:
item_cats = pd.read_csv('../original_data/item_categories.csv')
items = pd.read_csv('../original_data/items.csv')
sales = pd.read_csv('../original_data/sales_train.csv.gz')
shops = pd.read_csv('../original_data/shops.csv')

In [16]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [21]:
x_train_small = x_train_list[1][(x_train_list[1].date_block_num==28)&(x_train_list[1].item_id==482)&(x_train_list[1].shop_id==2)].head()
for col in x_train_small.columns:
    print(x_train_small[col])

5068814    28
Name: date_block_num, dtype: int32
5068814    2
Name: shop_id, dtype: int32
5068814    482
Name: item_id, dtype: int32
5068814    0.0
Name: item_category_id, dtype: float32
5068814    0.0
Name: sum_item_sales_back_1, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_1, dtype: float32
5068814    0.0
Name: item_cnt_month_back_1, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_1, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_1, dtype: float32
5068814    67.0
Name: sum_item_sales_back_2, dtype: float32
5068814    746.0
Name: sum_shop_sales_back_2, dtype: float32
5068814    1.0
Name: item_cnt_month_back_2, dtype: float32
5068814    328.0
Name: sum_item_cat_sales_back_2, dtype: float32
5068814    3.0
Name: sum_item_cat_shop_sales_back_2, dtype: float32
5068814    58.0
Name: sum_item_sales_back_3, dtype: float32
5068814    881.0
Name: sum_shop_sales_back_3, dtype: float32
5068814    4.0
Name: item_cnt_month_back_3, dtype: float32
5068814    353.0
Name: sum_item_cat_sales_back_3, dtype: float32
5068814    10.0
Name: sum_item_cat_shop_sales_back_3, dtype: float32
5068814    0.0
Name: sum_item_sales_back_4, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_4, dtype: float32
5068814    0.0
Name: item_cnt_month_back_4, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_4, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_4, dtype: float32
5068814    0.0
Name: sum_item_sales_back_5, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_5, dtype: float32
5068814    0.0
Name: item_cnt_month_back_5, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_5, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_5, dtype: float32
5068814    0.0
Name: sum_item_sales_back_6, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_6, dtype: float32
5068814    0.0
Name: item_cnt_month_back_6, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_6, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_6, dtype: float32
5068814    73.0
Name: sum_item_sales_back_7, dtype: float32
5068814    880.0
Name: sum_shop_sales_back_7, dtype: float32
5068814    1.0
Name: item_cnt_month_back_7, dtype: float32
5068814    430.0
Name: sum_item_cat_sales_back_7, dtype: float32
5068814    4.0
Name: sum_item_cat_shop_sales_back_7, dtype: float32
5068814    64.0
Name: sum_item_sales_back_8, dtype: float32
5068814    837.0
Name: sum_shop_sales_back_8, dtype: float32
5068814    2.0
Name: item_cnt_month_back_8, dtype: float32
5068814    338.0
Name: sum_item_cat_sales_back_8, dtype: float32
5068814    7.0
Name: sum_item_cat_shop_sales_back_8, dtype: float32
5068814    0.0
Name: sum_item_sales_back_9, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_9, dtype: float32
5068814    0.0
Name: item_cnt_month_back_9, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_9, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_9, dtype: float32
5068814    84.0
Name: sum_item_sales_back_10, dtype: float32
5068814    792.0
Name: sum_shop_sales_back_10, dtype: float32
5068814    1.0
Name: item_cnt_month_back_10, dtype: float32
5068814    344.0
Name: sum_item_cat_sales_back_10, dtype: float32
5068814    4.0
Name: sum_item_cat_shop_sales_back_10, dtype: float32
5068814    0.0
Name: sum_item_sales_back_11, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_11, dtype: float32
5068814    0.0
Name: item_cnt_month_back_11, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_11, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_11, dtype: float32
5068814    0.0
Name: sum_item_sales_back_12, dtype: float32
5068814    0.0
Name: sum_shop_sales_back_12, dtype: float32
5068814    0.0
Name: item_cnt_month_back_12, dtype: float32
5068814    0.0
Name: sum_item_cat_sales_back_12, dtype: float32
5068814    0.0
Name: sum_item_cat_shop_sales_back_12, dtype: float32
5068814    may
Name: month, dtype: object
5068814    31
Name: numdays, dtype: int64
5068814    2941.351351
Name: mean_prevmonth_item_price, dtype: float64
5068814    392.823158
Name: sd_prevmonth_item_price, dtype: float64
5068814   NaN
Name: mean_prevmonth_shop_item_price, dtype: float64
5068814    0.0
Name: sd_above_market, dtype: float64
5068814   NaN
Name: city, dtype: float64
5068814   NaN
Name: item_type, dtype: float64
5068814   NaN
Name: item_info, dtype: float64
5068814    0.1418
Name: shop_id_encoded, dtype: float32
5068814    346.0
Name: historical_item_sales, dtype: float32
5068814    0
Name: new_item, dtype: int32
5068814    4136.0
Name: historical_shop_sales, dtype: float32
5068814    0
Name: new_shop, dtype: int32
5068814    1793.0
Name: historical_item_cat_sales, dtype: float32
5068814    0
Name: new_item_cat, dtype: int32

# Check item_cnt_month_back_7

In [22]:
sales[(sales.date_block_num==21)&(sales.item_id==482)&(sales.shop_id==2)]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
2052755,13.10.2014,21,2,482,3300.0,1.0

### passed

# check y_train

In [35]:
y = y_train_list[1]
target_tocheck = y[(x_train_list[1].item_id==482) & (x_train_list[1].shop_id==2)]
target_tocheck.sort_values()

3293942    0.0
5301606    0.0
5068814    0.0
4811416    0.0
3940346    0.0
3609973    0.0
5969478    0.0
6187607    0.0
1679306    0.0
1351018    0.0
1018766    0.0
676307     0.0
2336868    0.0
2963801    1.0
2005187    1.0
4530959    1.0
347347     1.0
5524843    1.0
5753733    1.0
2660251    2.0
3          2.0
4246473    4.0
Name: item_cnt_month, dtype: float32

In [38]:
agged = sales[(sales.date_block_num>=12)&(sales.item_id==482)&(sales.shop_id==2)].groupby('date_block_num').item_cnt_day.sum()
agged.sort_values()

date_block_num
13    1.0
18    1.0
21    1.0
26    1.0
30    1.0
31    1.0
12    2.0
20    2.0
25    4.0
Name: item_cnt_day, dtype: float64

### PASSED

# Check sum_item_sales_back_7

In [45]:
sales[(sales.date_block_num==21)&(sales.item_id==482)].item_cnt_day.sum()

73.0

### passed

In [49]:
sales[(sales.item_id==30)].date_block_num.min()

1

In [50]:
sales[(sales.item_id==31)].date_block_num.min()

1

In [54]:
sales[(sales.item_id==32)].date_block_num.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33],
      dtype=int64)

In [57]:
sales[(sales.item_id==686)].date_block_num.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12, 13, 14, 15, 16, 18,
       19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33], dtype=int64)

In [53]:
sales[(sales.item_id==99)].date_block_num.min()

10

In [58]:
x_train_list[1][(x_train_list[1].date_block_num==30)&(x_train_list[1].item_id==686)]

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,city,item_type,item_info,shop_id_encoded,historical_item_sales,new_item,historical_shop_sales,new_shop,historical_item_cat_sales,new_item_cat
5524844,30,2,686,73.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,15.0,0.0,0.145367,0.0,1,0.0,1,0.0,1
5530167,30,3,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.129035,0.0,1,0.0,1,0.0,1
5535490,30,4,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.166666,0.0,1,0.0,1,0.0,1
5540813,30,5,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.197134,0.0,1,0.0,1,0.0,1
5546136,30,6,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.355904,0.0,1,0.0,1,0.0,1
5551459,30,7,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.268362,0.0,1,0.0,1,0.0,1
5556782,30,10,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.096904,0.0,1,0.0,1,0.0,1
5562105,30,12,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.212228,22.0,0,10391.0,0,2807.0,0
5567428,30,14,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.175926,0.0,1,0.0,1,0.0,1
5572751,30,15,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.265026,0.0,1,0.0,1,0.0,1
5578074,30,16,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.215656,4.0,0,1481.0,0,368.0,0
5583397,30,18,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.219238,0.0,1,0.0,1,0.0,1
5588720,30,19,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.285712,0.0,1,0.0,1,0.0,1
5594043,30,21,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.291888,0.0,1,0.0,1,0.0,1
5599366,30,22,686,73.0,0.0,0.0,0.0,0.0,0.0,2.0,...,14.0,15.0,0.0,0.218068,14.0,0,6583.0,0,1721.0,0
5604689,30,24,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.244061,0.0,1,0.0,1,0.0,1
5610012,30,25,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.883393,5.0,0,10784.0,0,685.0,0
5615335,30,26,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.241643,0.0,1,0.0,1,0.0,1
5620658,30,27,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.566621,0.0,1,0.0,1,0.0,1
5625981,30,28,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.653161,0.0,1,0.0,1,0.0,1
5631304,30,31,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1.122187,3.0,0,6321.0,0,344.0,0
5636627,30,34,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.067486,0.0,1,0.0,1,0.0,1
5641950,30,35,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.263337,0.0,1,0.0,1,0.0,1
5647273,30,37,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.165536,0.0,1,0.0,1,0.0,1
5652596,30,38,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.230165,0.0,1,0.0,1,0.0,1
5657919,30,39,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.122460,0.0,1,0.0,1,0.0,1
5663242,30,41,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.173235,0.0,1,0.0,1,0.0,1
5668565,30,42,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.565531,6.0,0,6165.0,0,768.0,0
5673888,30,44,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.171493,0.0,1,0.0,1,0.0,1
5679211,30,45,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.155254,0.0,1,0.0,1,0.0,1
5684534,30,46,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.295556,0.0,1,0.0,1,0.0,1
5689857,30,47,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.303258,0.0,1,0.0,1,0.0,1
5695180,30,48,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.204395,0.0,1,0.0,1,0.0,1
5700503,30,49,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.123493,0.0,1,0.0,1,0.0,1
5705826,30,50,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.242679,3.0,0,1033.0,0,353.0,0
5711149,30,51,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.172222,0.0,1,0.0,1,0.0,1
5716472,30,52,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.195677,0.0,1,0.0,1,0.0,1
5721795,30,53,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.242539,0.0,1,0.0,1,0.0,1
5727118,30,55,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.244027,0.0,1,0.0,1,0.0,1
5732441,30,56,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.304424,0.0,1,0.0,1,0.0,1
5737764,30,57,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.556487,0.0,1,0.0,1,0.0,1
5743087,30,58,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.349422,0.0,1,0.0,1,0.0,1
5748410,30,59,686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.182319,0.0,1,0.0,1,0.0,1